name: Metrics

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: LeticiaRVeloso
          plugin_languages: yes
          plugin_languages_limit: 8
